{% extends 'base.html' %}
{% block title %}Login{% endblock title %}

{% block body %}

<!DOCTYPE html>
<html lang="en" >
<head>
  <link rel="stylesheet" href="/assets/css/login.css">
  <script defer src="/assets/js/login.js"></script>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">

</head>

<body>
  <meta charset="UTF-8">
<div class="container" id="container">
	<div class="form-container sign-up-container">
		<form action="#">
			<h1>Create Account</h1>
			<div class="social-container">
				<a href="https://www.google.com" class="social"><i class="fa-brands fa-google"></i></a>
				<a href="https://www.facebook.com" class="social"><i class="fa-brands fa-facebook"></i></a>
				<a href="https://www.linkedin.com" class="social"><i class="fab fa-linkedin-in"></i></a>
			</div>
			<span>or use your email for registration</span>
			<input type="text" placeholder="Name" />
			<input type="email" placeholder="Email" />
			<input type="password" placeholder="Password" />
			<button>Sign Up</button>
			<a href="/index" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Home</a>
		</form>
	</div>
	<div class="form-container sign-in-container">
		<form action="#">
			<h1>Login</h1>
			<div class="social-container">
                <a href="https://www.google.com" class="social"><i class="fa-brands fa-google"></i></a>
				<a href="https://www.facebook.com" class="social"><i class="fa-brands fa-facebook"></i></a>
				<a href="https://www.linkedin.com" class="social"><i class="fab fa-linkedin-in"></i></a>
			</div>
			<span>or use your account</span>
			<input type="email" placeholder="Email" />
			<input type="password" placeholder="Password" />
			<a href="#">Forgot your password?</a>
			<button>Sign In</button>
			<a href="/index" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Home</a>
		</form>
	</div>
	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-left">
				<h1>Start Your Journey</h1>
				<p>To keep connected with us please login with your personal info</p>
				<button class="ghost" id="signIn"><i class="fa-sharp fa-solid fa-arrow-left"></i></button>
			</div>
			<div class="overlay-panel overlay-right">
				<h1>Account Not Created!</h1>
				<p>Enter your personal details and start journey with us</p>
				<button class="ghost" id="signUp">Sign Up</button>
			</div>
		</div>
	</div>
</div>

<footer>
	<p>
		Created by <i class="fa fa-heart"></i> by
		<a target="_blank" href="/aboutus">KAVS</a>
		
		<a target="_blank" href="https://www.florin-pop.com/blog/2019/03/double-slider-sign-in-up-form/">here</a>.
	</p>
</footer>
<script src="/assets/js/login.js"></script>
</body>
</html>
{% endblock body %}