{% extends 'base.html' %}
{% block title %}Home{% endblock title %}

  {% block body %}
  
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Home | DOMOTICA</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  
  <link href="/assets/img/favicon.png" rel="icon">
  <link href="/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  
  <link href="/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  <link href="/assets/css/style.css" rel="stylesheet">
  <linl href="assets/css/login.css" rel="stylesheet">
<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center justify-content-between">
      <h1 class="logo"><a href="/index">DOMOTICA</a></h1>
     

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="/index">Home</a></li>
          <li class="dropdown"><a href="#"><span>Products & Services</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              
              <li class="dropdown"><a href="#"><span>Automation Designs</span> <i class="bi bi-chevron-right"></i></a>
                <ul>
                  <li><a href="/kentrance">Entrance Automation</a></li>
                  <li><a href="/kenergy">Energy Management</a></li>
                  <li><a href="/kkeypad">Keypad automation</a></li>
                  <li><a href="/curtainmotors">Curtain Motors</a></li>
            
                </ul>
              </li>
              <li><a href="/alighting">Lighting Automation </a></li>
              <li><a href="/aaccesscontrol">Access Control </a></li>
              <li><a href="/aaudiovisualcontrolandacoustics">Audio Visual Control and Acoustics </a></li>
              <li><a href="/asecurityandsurvillence">Security and Surveillance</a></li>
              <li><a href="/acentralvaccum">Central Vaccum </a></li>
              <li><a href="/aventilationsystems">Ventilation Systems </a></li>
            </ul>
          <li><a class="nav-link scrollto" href="/templates/aboutus.html">About Us</a></li>
          <li><a class="nav-link scrollto " href="/contactus">Contact us</a></li>
          <li><a class="nav-link scrollto" href="/faq">FAQS</a></li>
          
          <li><a class="getstarted scrollto" href="/templates/login.html">Login</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">

    <div class="container-fluid" data-aos="fade-up">
      <div class="row justify-content-center">
        <div class="col-xl-5 col-lg-6 pt-3 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center" id="mn">
          <h1>POWER LIES IN AUTOMATION AND ACCURACY</h1>
          <h2>We here at Domotica provide 
powerful Home Automation
services. Our Aim is to give 
customers the satisfaction and
comfort, and the mesmerizing
experience of luxury and 
smartness together.  </h2>
          <div><a href="/pricing" class="btn-get-started scrollto">Get Started</a></div>
        </div>
        <div class="col-xl-4 col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="150">
          <div class="v1">
          <img src="https://source.unsplash.com/1600x1000/?iot" class="img-fluid animated" alt="">
        </div>
        </div>
      </div>
    </div>

  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="row">
          <div class="col-lg-6 order-1 order-lg-2" data-aos="zoom-in" data-aos-delay="150">
            <img src="/assets/img/about.jpeg" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right">
            <h3>Bring Smartness to your Home</h3>
            <p class="fst-italic">
              Welcome to the page of Smart Homes! We are a leading provider of smart home automation solutions, dedicated to making homes more comfortable, secure, and energy-efficient. Our goal is to bring the latest technology to homeowners and provide a hassle-free experience with a focus on quality, affordability, and customer satisfaction.
            </p>
            <ul>
              <li><i class="bi bi-check-circle"></i> A tour through the future(Virtual Glimpse).</li>
              <li><i class="bi bi-check-circle"></i> 24*7 Hassle-Free Services.</li>
              <li><i class="bi bi-check-circle"></i> Tranparency and effective solutions.</li>
              <li><i class="bi bi-check-circle"></i> Providing Security and surveillance.</li>
            </ul>
            <a href="/readmore" class="read-more">Read More <i class="bi bi-long-arrow-right"></i></a>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts">
      <div class="container">

        <div class="row counters">

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="23" data-purecounter-duration="1" class="purecounter"></span>
            <p>Projects Done</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="52" data-purecounter-duration="1" class="purecounter"></span>
            <p>Projects In Line</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="150" data-purecounter-duration="1" class="purecounter"></span>
            <p>Hours Of Support</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="5" data-purecounter-duration="1" class="purecounter"></span>
            <p>Hard Workers</p>
          </div>

        </div>

      </div>
    </section>
    
  </main>

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>Domotica</h3>
            <p>
              Adani Institute of Infrastructure Engineering Shantigram-Township <br>
              Gujarat,<br>
              India <br><br>
              <strong>Phone:</strong> +91 1234-5678-89<br>
              <strong>Email:</strong> Domotica@gmail.com<br>
            </p>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="/index">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/aboutus">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#hero">Product and Services</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/terms">Terms of service</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/privacy">Privacy policy</a></li>
            </ul>
          </div>

          
          <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>Join Our Newsletter</h4>
            <p>Join our newsletter to get Daily Updates</p>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form>
          </div>

        </div>
      </div>
    </div>

    <div class="container">

      <div class="copyright-wrap d-md-flex py-4">
        <div class="me-md-auto text-center text-md-start">
          <div class="copyright">
            &copy; Copyright <strong><span>Domotica</span></strong>. All Rights Reserved
          </div>
          <div class="credits">
          <a href="/aboutus">Made and developed by KAVS</a>
          </div>
        </div>
        <div class="social-links text-center text-md-right pt-3 pt-md-0">
          <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
          <a href="" class="facebook"><i class="bx bxl-facebook"></i></a>
          <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
          <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
          <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
        </div>
      </div>

    </div>
  </footer>

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="/assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="/assets/vendor/aos/aos.js"></script>
  <script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="/assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="/assets/js/main.js"></script>

</body>

</html>
{% endblock body %}
