{% extends 'base.html' %}
{% block title %}FAQS{% endblock title %}

  {% block body %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Read More</title>
  <link href="/assets/img/favicon.png" rel="icon">
  <link href="/assets/img/apple-touch-icon.png" rel="apple-touch-icon">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  
  <link href="/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  
  <link href="/assets/css/style5.css" rel="stylesheet">
    
</head>
<body>
    <header id="header" class="fixed-top ">
        <div class="container d-flex align-items-center justify-content-between">
          <h1 class="logo"><a href="/index">DOMOTICA</a></h1>
         
    
          <nav id="navbar" class="navbar">
            <ul>
              <li><a class="nav-link scrollto" href="/index">Home</a></li>
              <li class="dropdown"><a href="#"><span>Products & Services</span> <i class="bi bi-chevron-down"></i></a>
                <ul>
                  
                  <li class="dropdown"><a href="#"><span>Automation Designs</span> <i class="bi bi-chevron-right"></i></a>
                    <ul>
                      <li><a href="/kentrance">Entrance Automation</a></li>
                      <li><a href="/kenergy">Energy Management</a></li>
                      <li><a href="/kkeypad">Keypad automation</a></li>
                      <li><a href="/curtainmotors">Curtain Motors</a></li>
                
                    </ul>
                  </li>
                  <li><a href="/alighting">Lighting Automation </a></li>
              <li><a href="/aaccesscontrol">Access Control </a></li>
              <li><a href="/aaudiovisualcontrolandacoustics">Audio Visual Control and Acoustics </a></li>
              <li><a href="/asecurityandsurvillence">Security and Surveillance</a></li>
              <li><a href="/acentralvaccum">Central Vaccum </a></li>
              <li><a href="/aventilationsystems">Ventilation Systems </a></li>
                </ul>
              <li><a class="nav-link scrollto" href="/aboutus">About Us</a></li>
              <li><a class="nav-link scrollto " href="/contactus">Contact us</a></li>
              <li><a class="nav-link scrollto active" href="/faq">FAQS</a></li>
              
              <li><a class="getstarted scrollto" href="/login">Login</a></li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
          </nav><!-- .navbar -->
    
        </div>
      </header><!-- End Header -->
      <section class="a23 bg">
        <section id="faq" class="faq">
            <div class="container" data-aos="fade-up">
      
              <div class="section-title">
                <h2><br> <br>Frequently Asked Questions</h2>
                <p>These are some frequently asked questions by our customers and users.</p>
              </div>
      
              <div class="faq-list">
                <ul>
                  <li data-aos="fade-up" data-aos="fade-up" data-aos-delay="100">
                    <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" class="collapse" data-bs-target="#faq-list-1">What type of solutions you provide? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                    <div id="faq-list-1" class="collapse show" data-bs-parent=".faq-list">
                      <p>
                        <a>We here at domotica provides all types of smart homes solutions like light automation,entrance automation.Our solutions are not just limited to home, they can be useful also at malls,hotels etc. </a>
                      </p>
                    </div>
                  </li>
      
                  <li data-aos="fade-up" data-aos-delay="200">
                    <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-2" class="collapsed">Are the services provided by company free? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                    <div id="faq-list-2" class="collapse" data-bs-parent=".faq-list">
                      <p>
                        <a>Not all services are free, but you can enjoy some extra-vagant features without paying.For more details Go to <a href="pricing.html">Pricing</a></a>
                    </div>
                  </li>
      
                  <li data-aos="fade-up" data-aos-delay="300">
                    <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-3" class="collapsed">How much budget is required to operate this equipments? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                    <div id="faq-list-3" class="collapse" data-bs-parent=".faq-list">
                      <p>
                        <a>You can operate this equipments at lowest cost which is budget friendly and the use of solar in some systems, make it profitable also.</a>
                      </p>
                    </div>
                  </li>
      
                  <li data-aos="fade-up" data-aos-delay="400">
                    <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-4" class="collapsed">What is Domotica? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                    <div id="faq-list-4" class="collapse" data-bs-parent=".faq-list">
                      <p>
                       <a>Domotica is a smart homes solution providing company, which works to provide comfort and compatibility at same time. It's everywhere for everyone.</a>
                      </p>
                    </div>
                  </li>
      
                
      
                </ul>
              </div>
      
            </div>
          </section>
      </section>
     
     
      <footer id="footer">

        <div class="footer-top">
          <div class="container">
            <div class="row">
    
              <div class="col-lg-3 col-md-6 footer-contact">
                <h3>Domotica</h3>
                <p>
                  Adani Institute of Infrastructure Engineering Shantigram-Township <br>
                  Gujarat,<br>
                  India <br><br>
                  <strong>Phone:</strong> +91 1234-5678-89<br>
                  <strong>Email:</strong> Domotica@gmail.com<br>
                </p>
              </div>
    
              <div class="col-lg-2 col-md-6 footer-links">
                <h4>Useful Links</h4>
                <ul>
                  <li><i class="bx bx-chevron-right"></i> <a href="index.html">Home</a></li>
                  <li><i class="bx bx-chevron-right"></i> <a href="untitled.html">About us</a></li>
                  <li><i class="bx bx-chevron-right"></i> <a href="#">Services</a></li>
                  <li><i class="bx bx-chevron-right"></i> <a href="/terms">Terms of service</a></li>
                  <li><i class="bx bx-chevron-right"></i> <a href="/privacy">Privacy policy</a></li>
                </ul>
              </div>
    
              
              <div class="col-lg-4 col-md-6 footer-newsletter">
                <h4>Join Our Newsletter</h4>
                <p>Join our newsletter to get Daily Updates</p>
                <form action="" method="post">
                  <input type="email" name="email"><input type="submit" value="Subscribe">
                </form>
              </div>
    
            </div>
          </div>
        </div>
    
        <div class="container">
    
          <div class="copyright-wrap d-md-flex py-4">
            <div class="me-md-auto text-center text-md-start">
              <div class="copyright">
                &copy; Copyright <strong><span>Domotica</span></strong>. All Rights Reserved
              </div>
              <div class="credits">
              <a href="#">Made and developed by KAVS</a>
              </div>
            </div>
            <div class="social-links text-center text-md-right pt-3 pt-md-0">
              <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
              <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
              <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
              <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
              <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
            </div>
          </div>
    
        </div>
      </footer>
    
      <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
      <div id="preloader"></div>
    
      
      <script src="/assets/vendor/purecounter/purecounter_vanilla.js"></script>
      <script src="/assets/vendor/aos/aos.js"></script>
      <script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
      <script src="/assets/vendor/glightbox/js/glightbox.min.js"></script>
      <script src="/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
      <script src="/assets/vendor/swiper/swiper-bundle.min.js"></script>
      <script src="/assets/vendor/php-email-form/validate.js"></script>
    
      
      <script src="/assets/js/main.js"></script>    
    
</body>
</html>
{% endblock body %}